[submodule "Assets/Assets/Core"]
	path = Assets/Assets/Core
	url = https://github.com/tfritzy/FactoryCoreLogic.git
[submodule "Assets/Core"]
	path = Assets/Core
	url = https://github.com/tfritzy/FactoryCoreLogic.git
